body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    background-color: #69BB01;
    padding: 15px;
  }

  h2 {
    background-color: #48A9A6;
    padding: 10px;
  }

  li {
    padding: 15px 30px 20px;
    min-width: 80px;
  }